:root {
  --font-family: 'Manrope';
}

button:focus, input:focus, a:focus {
  outline: none !important;
  box-shadow: none !important;
}

#nav-sync, #nav-path {
  display: none;
}

#doc-content {
  padding-top: 0;
}

@media (min-width: 768px) {
  #top {
    padding-bottom: 1em;
  }

  #nav-tree {
    padding-top: 1em;
    height: calc(100vh - var(--top-height) - 1em) !important;
  }

  #doc-content {
    height: calc(100vh - 1em) !important;
  }
}